<ul>
  <li *ngFor="let employee of pagedItems" >
    <a (click)="goToEmployeeDetails(employee.id)">
      -- id: {{employee.id}}
      -- employee_name: {{employee.employee_name}}
      -- employee_salary: {{employee.employee_salary}}
      -- employee_age: {{employee.employee_age}}
      -- profile_image: {{employee.profile_image}}
    </a>
  </li>
</ul> 

<nav aria-label="Page navigation example">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)" class="page-link">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
      </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
      </li>
  </ul>
</nav>